@using PagedList.Mvc;
@using PagedList;
@model PagedList.IPagedList<FXCamera.Models.Order>
@{
    ViewBag.Title = "Đơn đặt hàng";
    Layout = "~/Areas/Administrator/Views/Shared/AdminLayout.cshtml";
}

@section header{

}
<div class="container">
    <div class="row justify-content-center pt-2">

        <div class="col-md-12">
            <div class="card">
                <header class="card-header">
                    <div class="row">
                        <div class="col-3">
                            <h4 class="card-title mt-3 text-primary">DANH SÁCH ĐƠN ĐẶT HÀNG </h4>
                        </div>
                        <div class="col-6">
                            <div class="form-inline justify-content-center mt-1 ml-1">

                                @using (Html.BeginForm("Page","Orders", FormMethod.Post))
                                {
                                    @Html.TextBox("search", ViewBag.CurrentSearch as string, new { @class = "form-control mr-sm-2", @placeholder = "Nhập vào nội dung" })

                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
                                }
                            </div>
                        </div>
                        <div class="col-3">
                            <a href="@Url.Action("Create","Orders")" class="btn btn-success float-right mt-1">Thêm mới</a>
                        </div>
                    </div>
                </header>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                            <tr>
                                <th>@Html.ActionLink("ID", "Page", new { sort = ViewBag.Id, @search = ViewBag.CurrentSearch })</th>
                                <th>@Html.ActionLink("Tên khách hàng", "Page", new { sort = ViewBag.Name, @search = ViewBag.CurrentSearch })</th>
                                <th>@Html.ActionLink("Ngày đặt hàng", "Page", new { sort = ViewBag.CreatedDay, @search = ViewBag.CurrentSearch })</th>
                                <th>@Html.ActionLink("Ngày giao hàng", "Page", new { sort = ViewBag.ExportDay, @search = ViewBag.CurrentSearch })</th>      
                                <th>Địa chỉ giao hàng</th>
                                <th>Trạng thái</th>
                                <th width="180px">Chức năng</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.Id">
                                <td>@Html.DisplayFor(m => item.Id)</td>
                                <td> @Html.DisplayFor(m => item.Users.LastName) @Html.DisplayFor(m => item.Users.FirstName)</td>
                                <td>@Html.DisplayFor(m => item.CreatedDay)</td>
                                <td>@Html.DisplayFor(m => item.ExportDay)</td>
                                <td>@Html.DisplayFor(m => item.DeliveryAddress)</td>
                                <td>@(item.Status==true?"Đã giao hàng":"Chưa giao hàng")</td>
                                <td>
                                    <a href="@Url.Action("Edit", "Orders", new { @id = item.Id })" class="btn btn-sm btn-info">Chi tiết</a>
                             
                                    <a href="javascript:void(0)" class="btn btn-sm btn-danger" onclick="return Delete(@item.Id)">Xóa</a>

                                </td>
                            </tr>

                        }
                    </table>
                    <div class="row pagination justify-content-center">
                        @Html.PagedListPager(Model, i => Url.Action("Page", new { page = i, sort = ViewBag.CurrentSort, search = ViewBag.CurrentSearch }))
                    </div>
                    <div class="row justify-content-center text-info">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
                </div>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script type="text/javascript">
        function Status(id) {
            $.ajax({
                url: '@Url.Action("Status","Categories")',
                data: JSON.stringify({ 'id': parseInt(id) }),
                dataType: 'json',
                type: 'post',
                contentType: 'application/json;charset=utf-8',
                success: function (response) {
                    if (response.result == true) {
                        $('#' + id).attr('class', 'btn btn-sm btn-success');
                        $('#' + id).text('ON');
                        $.notify('Cập nhật trạng thái thành công', 'success');
                    }
                    else {
                        $('#' + id).attr('class', 'btn btn-sm btn-default');
                        $('#' + id).text('OFF');
                        $.notify('Cập nhật trạng thái thành công', 'success');
                    }
                },
                error: function (response) {
                    $.notify('Cập nhật trạng thái thất bại', 'error');
                }

            });
        }
        function Delete(id) {
            if (confirm('Bạn có muốn xóa danh mục này không?')) {
                $.ajax({
                    url: '@Url.Action("Delete","Categories")',
                    data: JSON.stringify({ 'id': parseInt(id) }),
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    type: 'delete',
                    success: function (response) {
                        if (response.result == true) {
                            $('#row_' + id).remove();
                            $.notify('Xoá tài danh mục thành công!', 'success');
                        }
                        else {
                            $.notify('Xoá danh mục thất bại!', 'error');
                        }
                    },
                    error: function (response) {
                        $.notify('Xoá danh mục thất bại!', 'error');
                    }

                });
            }
        }
    </script>


}

