@model FXCamera.Models.User
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Administrator/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container">

        <div class="row justify-content-center pt-1">
            <span>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</span>

            <div class="col-md-6">
                <div class="card">
                    <header class="card-header">
                        <a href="@Url.Action("Index", "Users")" class="btn btn-outline-primary float-right mt-1">Trở lại</a>
                        <h4 class="card-title mt-2 text-primary">THAY ĐỔI MẬT KHẨU</h4>
                    </header>
                    <article class="card-body">
                        <div class="form-group">
                            @Html.Hidden("id", new { @id = ViewBag.Id })
                            @Html.Label("Mật khẩu cũ", new { @class = "control-label" })

                            @Html.Password("Password", null, new { @class = "form-control" })
                            @*<span class="text-danger" id="validatePassword"></span>*@   
                            <span class="text-danger" id="validatePassword">@ViewBag.Error</span>
                        </div>

                        <div class="form-group">
                            @Html.Label("Mật khẩu mới", new { @class = "control-label" })
                            @Html.Password("NewPassword", null, new { @class = "form-control" })
                            <span class="text-danger" id="validateNewPassword"></span>

                        </div>

                        <div class="form-group">
                            @Html.Label("Nhập lai mật khẩu mới", new { @class = "control-label" })
                            @Html.Password("ConfirmPassword", null, new { @class = "form-control" })
                            <span class="text-danger" id="validateConfirmPassword"></span>

                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-danger btn-block" onclick="return Validate()">Đổi mật khẩu</button>
                        </div>
                    </article>
                </div>
            </div>
        </div>

    </div>
}
@section scripts{
    <script type="text/javascript">
        function Validate() {
            var pass = document.getElementById("Password").value;
            var newpass = document.getElementById("NewPassword").value;
            var confirmPass = document.getElementById("ConfirmPassword").value;
            if (pass=="") {
                document.getElementById("validatePassword").textContent = "Nhập vào mật khẩu cũ";
                return false;
            }
            if (newpass == "") {
                document.getElementById("validateNewPassword").textContent = "Nhập vào mật khẩu mới";
                return false;
            }
            if (confirmPass == "") {
                document.getElementById("validateConfirmPassword").textContent = "Nhập lại mật khẩu mới";
                return false;
            }
            if (newpass !== confirmPass) {
                document.getElementById("validateConfirmPassword").textContent="Nhập lại mật khẩu không chính xác"
                return false;
            }
        }
    </script>
    
    
    }

